html, body {
    font-size: 1.04em;
    height: 100%;
    overflow: hidden;
} 

h1,h2,h3,h4,h5,h6, .byline,.content-title {
  color: #535353;
  font-weight: bold;
  font-family: Trebuchet, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}
h1 {
    font-size: 1.8em
}
h2 {
    font-size: 1.5em
}
h3 {
    font-size: 1.3em
}
h4 {
    font-size: 1.1em
}
h5, h6 { 
    font-size: 1em;
}


pre {
    font-family: menlo,consolas,monospace,"courier new";
    font-weight: normal;
    color: black;
    margin: 15px 5px;
    padding: 10px;
    border: 1px solid silver;
    border-radius: 5px;
    background: #eee;
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, #eeeeee 100%); /* W3C */
    overflow-x: auto; 
    white-space:  pre;
    word-break: normal;
    word-wrap: normal;    
    max-width: 98%;
}
img {
	max-width: 100%;
}
code {
    color: #434343 !important;
    font-weight: bold;
    background: #eee;
    padding: 3px 5px;
    border-radius: 3px;
}
blockquote {
    font-size: 1.05em;
    background: #fcfcfc;
    color: #777;
}
blockquote h3, blockquote h4, blockquote h5 {
    margin-top: 5px;
}
hr{
    margin: 12px 0;    
}
/* hidden display, but still part of document flow */
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; 
}

.syntaxbox {
    border: solid 1px #A9A9A9;
    padding: 7px;
    margin: 15px 5px;
    font-size: 1.1em;
    font-weight: bold;    
    overflow: auto;
    padding: 15px;
    border-radius: 4px;  
    white-space: pre-wrap; 
}

.syntaxoverloads {
    font-family: arial;
    font-weight: bold;
    font-size: 8pt;
    margin-top: 6px;
    color: black;
}
.updatenotice {
    border: solid 1px darkred;
    background: khaki;
    color: darkred;
    margin: 10px 0 10px 10px;
    padding: 10px;
    box-shadow: 2px 2px 7px #737373;
    border-radius: 4px;
}

.ace_editor, .ace_editor * {
    font-family: "Menlo", "Consolas", "Courier New", monospace;   
    font-weight: normal;
    letter-spacing: 0 !important;
    background: transparent;           
}
.ace_content {
    padding-top: 5px !important;
    padding-bottom: 25px !important;
    padding-left: 0;            

}    
.ace_cursor { 
    width: 0 !important;
    height: 1em !important;
}
.ace_text-input {
    margin: 0 !important;
}
.ace-vs {    
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), #eeeeee 100%) !important; /* W3C */
}

.projectname, .topicname {
    font-family: Trebuchet, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';    
    font-size: 1.6em; 
    font-weight: bold;          
}
.byline {      
    margin-top: 1px; 
    font-size: 0.9em;
    font-style: italic;   
    font-weight: bold;
    color: cornsilk;
}
td, th  {
    padding: 5px;
    vertical-align: top;
    border-bottom: 5px black !important;
}

.detailtable {    
    font-size: 0.875em;
    border: 2px solid #535353; 
    width: 99%;   
}

    .detailtable th {
        color: white;
        background: #535353;
        padding: 7px 10px;        
    }
    .detailtable td {
        border: solid 1px #ebebeb;
        vertical-align: top !important;
        padding: 5px !important; 
    }

    .detailtable .col-icon {
        width: 45px;
    }

    .detailtable .col-name {        
        max-width: 200px;
        overflow: hidden;
    }
    .detailtable .col-detail {             
        min-width: 100%;   
        max-width: 800px;
    }
    @media(max-width: 500px) {
        .detailtable .col-detail {
            min-width: 80px;
        }   
    }

    .detailtable tr.alternaterow {
        background: #eee;
    }


.footer {
    font-size: 0.875em;
    padding: 2px 10px;
}


.flex-master {        
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        flex-grow: 1;
        height: 100%;
    }
.banner {    
    border: 0;    
    padding: 10px 12px;
    background: #434343;
    color: white;
    flex: 0 0 auto;
}
.banner-logo {
	height: 58px; 
	margin-right: 10px;
	display: block;
	float: left;
}
.page-content {
    display: flex;
    flex-direction: row;
                         
    flex: 2;       
    height: 100%; 
    width: 100%;
}
.sidebar-left {
    width: 400px;
    overflow: auto;  

    border: none;
    display: none;
    transition:  width 0.2s ease-in-out;
}
.splitter {    
    background: #434343;
    color: white;
    vertical-align: middle;
    border: 0;    
    cursor: col-resize;
    padding: 15px 3px; 
    display: none;
}
.sidebar-toggle {
    color: white;
    cursor: pointer;
    padding: 3px;
}
.main-content {    
    padding: 15px;       
    width: 100%;
    overflow: auto;          
}
/* entire content area between header and footer */
.content-pane {    
    padding: 0 10px;
    width: auto;
}

/* main body (topic body) content area */
.content-body {
   margin-bottom: 15px;
}
.content-title {
    color: #446f93;
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid silver;
}

@media(max-width: 767px) {
    .sidebar-left {
        width: 0 !important;
    }    
}

.toc-content {
    background: #636363;
    color: #eee;
}
.toc-menu {
    margin: 0;
    padding: 0;
}
    .tocmenu .btn-link {
        padding: 2px 5px;
    }
.toc {
    padding: 0;
    margin: 10px;  
    font-size: 0.825em;  
}
    .toc ul {
        margin-left: 0;
        padding-left: 0;
    }

    .toc li {
        list-style: none;
        margin-left: 20px;
        padding-left: 0;
        white-space: nowrap;
        padding-bottom: 3px;
    }
    .toc-content a, .toc-content a:visited, .toc-content a:hover, .toc-content a:focus {
        color:  #f5f5f5;        
    }

    .toc .fa {
        color: white;
        font-size: 0.9em;
        display: block;
        width: 20px;
        float: left;
        padding-top: 5px;
        margin-left: -17px;
        padding-right: 5px;
    }


@media(max-width: 800px) {        
    html,body{
        font-size: 0.95em;
    }
    .banner-logo {
    	height: 55px;
    }
}

@media(max-width: 600px) {    
    
    html,body{
        font-size: 0.90em;
    }
    .banner-logo {
    	height: 50px;
    }
}
